[submodule "lib/ZiPatchLib"]
	path = lib/ZiPatchLib
	url = https://github.com/pmgr/ZiPatchLib.git
[submodule "lib/Lumina"]
	path = lib/Lumina
	url = https://github.com/NotAdam/Lumina.git
[submodule "lib/Lumina.Excel"]
	path = lib/Lumina.Excel
	url = https://github.com/NotAdam/Lumina.Excel.git
